@import '~bootstrap/dist/css/bootstrap.min.css';

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

html,body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  margin : 0px;
  padding : 0px;
}

#root{
  position:relative;
  height: 100%;
  width: 100%;
  padding-top: 56px;
}

.enter-chat{
  display: block;
  position:relative;
  height: 100%;
  width: 100%;
}

.chat{
  display: block;
  position:relative;
  height: 100%;
  width: 100%;
}
.users, .messages{
  padding: 0px;
  float: left;
}

.user{
  border-bottom : 1px solid #e9ebee;
  padding: 10px;
}

.fa-user{
  color :#343a40;
}

.messages{
  border-left: 1px solid #e9ebee;
  overflow:auto;
}

.message{
  border-left: 1px solid #e9ebee;
  overflow:auto;
  padding: 10px;
  display: block;
  min-height: 50px;
  height : auto !important;
  clear:both;
}

.username, .data{
  border-left: 1px solid #e9ebee;
  overflow:auto;
  display: inline-block;
  float:left;
  margin-right: 10px;
}

.no-message{
  margin: 10px;
}

.chatbox {
  position:fixed;
  bottom: 0px;
  padding: 0px;
}